@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
#title{
    font-family: 'GmarketSansMedium';
    text-align: center;
    font-size: 70px;
}
span{
    font-family: GmarketSansMedium;
    font-size: 50px;
}
#inputDiv{
    text-align: center;
    position:relative
}
input{
    margin-left: 40px;
    margin-top: 40px;
    width: 600px;
    height: 45px;
    font-size: 40px;
    border-radius: 10px;
}
button{
    background-color: white;
    font-family: GmarketSansMedium;
    border-radius: 10px;
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;
}

#encryDiv{
    border: 2px solid black;
    font-family: GmarketSansMedium;
    margin-top: 100px;
}