@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body {
    margin: 0 auto;
}

#title {
    font-family: GmarketSansMedium;
    text-align: center;
    font-size: 70px;
}

label {
    font-family: GmarketSansMedium;
    font-size: 50px;
}

#inputDiv {
    text-align: center;
    position: relative
}

input {
    margin-left: 10px;
    margin-top: 50px;
    width: 600px;
    height: 45px;
    font-size: 40px;
    border-radius: 10px;
    vertical-align: bottom;
    position: relative;
}

#btn-submit {
    background-color: white;
    font-family: GmarketSansMedium;
    border-radius: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-top: 20px;
    font-size: 30px;
}

div {
    text-align: center;
}

#btn-div {
    margin-top: 150px;
}

.btn {
    background-color: white;
    font-family: GmarketSansMedium;
    border-radius: 10px;
    font-size: 40px;
    height: 70px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0px 60px 0px 60px;
}

label {
    width: 100px;
}

