<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>3101</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/main.css?after=1}"/>
    <style>
        a {
            text-decoration: none;
            color: black;
        }

        a:visited {
            text-decoration: none;
        }

        a:hover {
            text-decoration: none;
        }

        a:focus {
            text-decoration: none;
        }

        a:hover, a:active {
            text-decoration: none;
        }
    </style>
</head>

<body>
<h1 id="title">다중 치환 암호 프로그램</h1>

<form th:action="@{/cipher}" method="post" th:object="${form}">
    <div>
        <div class="label-class">
            <label for="value-label">평 문 : </label>
            <input type="text" th:field="*{value}" id="value-label" required>
        </div>
        <div class="label-class">
            <label for="key-label">암호키 : </label>
            <input type="text" th:field="*{key}" id="key-label" required>
        </div>

        <button type="submit" id="btn-submit">확인</button>
    </div>
    <br/>

</form>
<div>
    <label>암호문 : </label>
    <input readonly/>
</div>
<div>
    <label>복호문 : </label>
    <input readonly/>
</div>
<div id="btn-div">
    <button class="btn" th:onclick="alert('평문과 암호키를 입력해주세요.')">암호화</button>

    <button class="btn">
        <a th:href="@{/}">다시 입력하기</a>
    </button>

    <button class="btn" th:onclick="alert('평문과 암호키를 입력해주세요.')">암호화 과정</button>
    <button class="btn" th:onclick="alert('평문과 암호키를 입력해주세요.')">복호화</button>
</div>


</body>
</html>