<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>3101</title>
    <link rel="stylesheet" type="text/css" href="/css/course.css"/>
</head>
<body>
<h1>암호화 과정</h1>

<div>
    <form>
        <label>암호키</label>
        <input type="text" th:value="${key}" readonly><br/>
        <label>평문</label>
        <input type="text" th:value="${value}" readonly><br/>
        <label>맵핑</label>
        <input type="text" th:value="${cryptogram}" readonly><br/>
    </form>
</div>
<a th:href="@{/encryption/{id}(id=${id})}">
    <button>암호문 확인</button>
</a>
<table>
    <tr>
        <td th:text="${cryptogram.charAt(0)}"></td>
        <td th:text="${cryptogram.charAt(1)}"></td>
        <td th:text="${cryptogram.charAt(2)}"></td>
        <td th:text="${cryptogram.charAt(3)}"></td>
        <td th:text="${cryptogram.charAt(4)}"></td>
    </tr>
    <tr>
        <td th:text="${cryptogram.charAt(5)}"></td>
        <td th:text="${cryptogram.charAt(6)}"></td>
        <td th:text="${cryptogram.charAt(7)}"></td>
        <td th:text="${cryptogram.charAt(8)}"></td>
        <td th:text="${cryptogram.charAt(9)}"></td>
    </tr>
    <tr>
        <td th:text="${cryptogram.charAt(10)}"></td>
        <td th:text="${cryptogram.charAt(11)}"></td>
        <td th:text="${cryptogram.charAt(12)}"></td>
        <td th:text="${cryptogram.charAt(13)}"></td>
        <td th:text="${cryptogram.charAt(14)}"></td>
    </tr>
    <tr>
        <td th:text="${cryptogram.charAt(15)}"></td>
        <td th:text="${cryptogram.charAt(16)}"></td>
        <td th:text="${cryptogram.charAt(17)}"></td>
        <td th:text="${cryptogram.charAt(18)}"></td>
        <td th:text="${cryptogram.charAt(19)}"></td>
    </tr>
    <tr>
        <td th:text="${cryptogram.charAt(20)}"></td>
        <td th:text="${cryptogram.charAt(21)}"></td>
        <td th:text="${cryptogram.charAt(22)}"></td>
        <td th:text="${cryptogram.charAt(23)}"></td>
        <td th:text="${cryptogram.charAt(24)}"></td>
    </tr>
</table>
</div>


</body>
</html>