<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>3101</title>
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
</head>

<body>
<h1 id="title">다중 치환 암호 프로그램</h1>

<form th:action="@{/cipher}" method="post" >
    <div>
        <label for="value-label">평문 : </label>
        <input type="text" th:value="${value}" id="value-label" readonly>
    </div>
    <div>
        <label for="key-label">암호키 : </label>
        <input type="text" th:value="${key}" id="key-label" readonly>
        <button type="submit">확인</button>
    </div>
    <br/>

</form>
<div>
    <label>암호문 : </label>
    <input type="text" th:value="${encryption}" readonly/>
    <br />
    <label>복호문 : </label>
    <input type="text" th:value="${decryption}" readonly/>
</div>
<div id="button-div">
    <a th:href="@{/encryption/{id}(id=${id})}">
        <button id="encryption">암호화</button>
    </a>
    <a th:href="@{/encryption/course/{id}(id=${id})}">
        <button id="encryption-course">암호화 과정</button>
    </a>
    <a th:href="@{/decryption/{id}(id=${id})}">
        <button id="decryption">복호화</button>
    </a>
</div>

</body>

</html>